.categoria-item {
  width: 80px;
  flex: 0 0 auto;
}

.categoria-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categoria-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categoria-text {
  font-size: 0.65rem;
  display: block;
  margin-top: 4px;
  line-height: 1.1;
}

.categorias-scroll::-webkit-scrollbar {
  display: none;
}
